[Unit]
Description=Guinea-Bot Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash -c "/usr/local/bin/guineabot"
Restart=always

[Install]
WantedBy=multi-user.target
